@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: business --default;
}

@plugin "daisyui/theme" {
    name: "business";
    default: true;
    --color-secondary: #8bc242;
}

h1,
h2 {
    font-family: "Anton", sans-serif;
    letter-spacing: 2px;
}
