---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Sponsors" description="change meta tag">
    <section class="relative isolate px-6 py-24 sm:py-20 lg:px-8">
        <div
            class="absolute inset-x-0 -top-3 -z-10 transform-gpu overflow-hidden px-36 blur-3xl"
            aria-hidden="true"
        >
        </div>
        <div class="mx-auto max-w-4xl">
            <h2
                class="mt-6 text-4xl font-semibold tracking-tight text-pretty sm:text-5xl"
            >
                Sponsors
            </h2>
        </div>
    </section>
</MainLayout>
