---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";
const allSponsors = await getCollection("sponsors");
---

<MainLayout title="Sponsors" description="change meta tag">
    <section class="relative isolate">
        <div
            class="mx-auto max-w-7xl px-6 py-10 sm:py-10 xs:py-10 lg:py-40 lg:px-8"
        >
            <div
                class="grid grid-cols-1 gap-x-18 gap-y-16 lg:grid-cols-8 items-start"
            >
                <div class="lg:col-span-5">
                    <div class="mx-auto max-w-6xl prose">
                        <h2
                            class="text-4xl font-semibold tracking-tight text-white sm:text-6xl uppercase"
                        >
                            Sponsors
                        </h2>

                        <p class="text-lg font-medium text-pretty sm:text-xl/7">
                            RDD would like to extend our sincerest and warmest
                            thanks to all of our 2025 sponsors and look forward
                            to continuing our partnership with these excellent
                            companies which support us! We urge all of our fans
                            to support those who support us and tell them that
                            RDD sent you!
                        </p>

                        <p class="prose">
                            The Renegade Derby Dames invite partners to join us
                            in our mission through sponsorship, advertising,
                            in-kind donations, and event participation. We value
                            collaborations with local businesses and aim to
                            support community charities. This season offers a
                            unique chance to engage with the rapidly growing
                            sport of roller derby!
                        </p>
                        <p>
                            By sponsoring the Renegade Derby Dames, your brand
                            can reach a diverse and enthusiastic audience. Our
                            games draw fans from across the region, and your
                            partnership will gain visibility through social
                            media and promotional materials. Support roller
                            derby and connect your brand with an exciting and
                            passionate fanbase—let’s make a difference together!
                        </p>
                        <p>
                            You can <a
                                target="_blank"
                                href="../2026-RDD-Sponsorship-Package.pdf"
                                >download our Sponsorship Package here!</a
                            >
                        </p>
                        <p>
                            Questions about Sponsorship or becomming a Vendor? <a
                                href="/contact"
                                >Contact us for more information.</a
                            >
                        </p>
                        <div class="space-y-4 max-w-4xl">
                            <h3>Check out our current awesome sponsors:</h3>
                            {
                                allSponsors.map(async (sponsor) => {
                                    const { Content } = await render(sponsor);
                                    return (
                                        <div class="collapse collapse-arrow bg-white text-secondary-content border border-base-300 shadow-sm">
                                            <input
                                                type="checkbox"
                                                name="sponsors-accordion"
                                            />
                                            <div class="collapse-title text-xl font-semibold flex items-center">
                                                {sponsor.data.name}
                                            </div>
                                            <div class="collapse-content">
                                                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-8 gap-8 pt-4">
                                                    <div class="lg:col-span-2">
                                                        <Image
                                                            width={400}
                                                            src={
                                                                sponsor.data
                                                                    .logo
                                                            }
                                                            alt={`${sponsor.data.name} logo`}
                                                            class="w-full"
                                                        />
                                                    </div>
                                                    <div class="flex flex-col justify-between lg:col-span-6">
                                                        <div class="text-sm text-accent-content prose">
                                                            <Content />
                                                            <a
                                                                href={
                                                                    sponsor.data
                                                                        .url
                                                                }
                                                                target="_blank"
                                                                rel="noopener noreferrer"
                                                                class="btn btn-outline btn-primary mb-6 self-start"
                                                            >
                                                                Check out their
                                                                website
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    );
                                })
                            }
                        </div>
                    </div>
                </div>

                <aside class="lg:col-span-3 sticky">
                    <div
                        class="mx-auto max-w-6xl prose rounded-2xl border-2 border-solid border-white p-6"
                    >
                        <h2 class="mt-0">Vendors</h2>
                        <p>
                            Our games offer local businesses a unique
                            opportunity to connect with our fans by reserving
                            space in our Vendor Village.
                        </p>
                        <p>
                            Each vendor space includes one 8' table and two
                            chairs provided by the league. Power is available on
                            a first-come, first-served basis, so we encourage
                            vendors to reserve their space early.
                        </p>
                        <p>The cost is $10 per vendor space, per event</p>
                        <p>
                            Please note that vendor fees are non-refundable;
                            however, with a minimum of two weeks’ notice,
                            cancellations may be deferred to a future event. All
                            vendors must carry their own insurance, and the Town
                            of New Tecumseth must be listed as an additional
                            insured.
                        </p>
                        <p>
                            <a
                                href="https://forms.gle/jNErcoe5etSV5wEKA"
                                target="_blank"
                                >Fill out this form to reserve your table!</a
                            >
                        </p>
                    </div>
                </aside>
            </div>
        </div>
    </section>
</MainLayout>
