---
import Nav from "../components/Nav.astro";
---

<style>
    footer {
        row-gap: 1rem;
    }
</style>

<footer
    class="footer footer-horizontal footer-center text-base-content py-10 bg-secondary/10 border-t border-neutral/20"
>
    <nav class="flex justify-center">
        <ul class="menu menu-horizontal flex-wrap justify-center">
            <Nav />
        </ul>
    </nav>

    <aside>
        <p>
            © {new Date().getFullYear()} Renegade Derby Dames
        </p>
        <p>
            <a
                class="link"
                href="https://maps.app.goo.gl/q8ZVpHfXCDdWeTWK6"
                target="_blank">49 Nelson St. West</a
            > | Alliston, Ontario
        </p>
    </aside>
</footer>
