---
// Get the current URL path from Astro
const { pathname } = Astro.url;

// A helper function to check if the link is active
// We trim trailing slashes to ensure "/" matches "/"
const isActive = (path: string) =>
    pathname === path || pathname === path + "/" ? "active" : "";
---

<li><a aria-label="Go to Homepage" href="/" class={isActive("/")}>Home</a></li>
<li>
    <details>
        <summary>Teams & Support</summary>
        <ul class="p-2 bg-base-100 w-full z-1">
            <li>
                <a href="/teams/bombshells/">Bombshell Battalion</a>
                <a href="/teams/vikings/">Striking Vikings</a>
            </li>
        </ul>
    </details>
</li>
<li>
    <a
        aria-label="Go to Sponsors"
        href="/sponsors/"
        class={isActive("/sponsors/")}>Sponsors</a
    >
</li>

<style>
    .active {
        font-weight: bold;
    }
</style>
