---
// src/components/Navbar.astro
import Nav from "../components/Nav.astro";
import Logo from "./Logo.astro";
---

<div class="navbar bg-base-100 border-b border-base-300 px-4 sticky top-0 z-50">
    <div class="flex-1">
        <a href="/" aria-label="Derby Home">
            <Logo />
        </a>
    </div>
    <div class="flex-none md:hidden">
        <label
            for="my-drawer-2"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
        >
            <span class="sr-only">Sidebar icon</span>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="inline-block h-6 w-6 stroke-current"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </label>
    </div>
    <div class="flex-none flex items-center gap-4">
        <ul class="menu menu-horizontal px-1 font-medium hidden md:flex">
            <Nav />
        </ul>
    </div>
</div>

<div class="drawer">
    <label for="my-drawer-2" class="sr-only">Toggle navigation drawer</label>

    <input
        id="my-drawer-2"
        type="checkbox"
        class="drawer-toggle"
        aria-label="Toggle navigation drawer"
    />

    <div class="drawer-side">
        <button
            type="button"
            class="drawer-overlay"
            aria-label="close sidebar"
            onclick="document.getElementById('my-drawer-2').click()"
        >
            <span class="sr-only">Close navigation menu</span>
        </button>

        <nav class="menu bg-base-200 min-h-full w-80 p-4 pt-30">
            <ul class="text-2xl">
                <Nav />
            </ul>
        </nav>
    </div>
</div>

<script>
    const currentPath = window.location.pathname;
    const navLinks = document.querySelectorAll(".navbar a");

    navLinks.forEach((link) => {
        const href = link.getAttribute("href");
        if (!href) return;

        if (
            href === currentPath ||
            (href !== "/" && currentPath.startsWith(href))
        ) {
            link.classList.add("active");
            link.classList.add("text-primary", "font-bold");
        }
    });
</script>
